.App {
  text-align: center;
}

.bg-container {
  background-image: linear-gradient(to left, #009245, #FCEE21);
  background-size: cover;
  height: 100vh;
  display: flex; 
  flex-direction: column; 
}
